* {
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: sans-serif;
}

section {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5em;
}

div {
    background-color: #f83259;
    min-width: 100%;

    font-weight: bold;
    font-size: 1.5em;

    padding: 1.5em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#broken__future {
    background-color: #63f6f3;
}

#infinity {
    background-color: #ffff04;
}

@media screen and (min-width: 550px) {
    section {
        grid-template-columns: 1fr 1fr;
    }
}

