* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    font-family: sans-serif;
    text-transform: uppercase;
    background-image: url(images/festival.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-blend-mode: overlay;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 8fr 1fr 1fr;
    height: 100vh;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1em;
    letter-spacing: 5px;
}

.header {
    grid-column: 1 / span1;
    background-color: black;
    color: white;
}

.qr__container {
    grid-column: 1 / span1;
}

.qr__container img {
    width: 16em;
    max-width: 100%;
}

.date {
    grid-row: 3;
}

.price {
    grid-row: 4;
    grid-column: 1 / span1;
    flex-direction: row;
}

.price span {
    font-weight: lighter;
}

.info {
    font-size: 1.5em;
    font-weight: bold;
    border: 1px solid black;
}

.disclaimer {
    display: none;
}

@media(min-width: 1000px) {
    .container{
        height: 100%;
        border: 2px solid black;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 3fr 0.5fr 0.5fr;
    }

    .container::after {
        left: 0;
    }

    .header {
        grid-column: 1 / 4;
        background-color: transparent;
        color: black;
        padding: 50px;
        display: flex;
        flex-direction: column-reverse;
        border: 2px solid black;
    }

    h1 {
        font-size: 100px;
    }

    h2 {
        font-size: 20px;
    }

    .qr__container {
        grid-column: 4 / 5;
        grid-row: -4 / -1;
        padding: 40px;
    }

    .date, .admit, .price {
        grid-row: 2;
        font-size: 30px;
        line-height: 50px;
    }

    .date {
        grid-column: 1 / 2;
    }

    .admit {
        grid-column: 2 / 3;
    }

    .price {
        grid-column: 3 / 4;
    }

    .disclaimer {
        font-weight: lighter;
        font-size: 25px;
        border: 2px solid black;
        padding: 18px;
        display: unset;
        grid-column: 1 / 4;
        grid-row: 3;
        text-transform: initial;
    }
}